/* 
    Assignment: About A Company
    Author: Dagan Fitzsimmons
    Date:   6/18/2023
    Filename: style.css
*/

/* 
    HTML Element
    - Changes Background Color
    - Adds Solid Border
*/
html
{
    background-color: rgb(255, 188, 162);
    border: 4px solid rgb(219, 153, 127);
}

/*
    Table, Th, Td Element
    - Adds Border
    - Uses Auto Margin To Center
    - Adds Padding To th, td
*/
    table, th, td
    {
        border: 1px rgb(207, 172, 143) solid;
    }

    table
    {
        margin: auto;
        background-color: rgb(255, 215, 183);
    }

    th, td
    {
        padding: 10px;
    }

    th
    {
        background-color: rgb(255, 185, 119);
    }

    td h1
    {
        text-align: center;
    }
/*
    Header Tag
    - Adds Solid Border
    - Changes Background Color
    - Changes Bottom Margin
    - Centers Text
    - Changes Font Size
*/
    header 
    {
        /* Visuals*/
            border: 2px solid rgb(211, 99, 91);
            background-color: rgb(255, 128, 119);
            margin-bottom: 15px;

        /* Text Position*/
            text-align: center;
        
        /* Text Visuals*/
            font-size: medium;
    }
/* 
    Footer Tag
    - Adds Solid Border
    - Changes Background Color
    - Changes Top Margin
    - Centers Text
    - Changes Font Size
*/
    footer 
    {
        /* Visuals*/
            border: 2px solid rgb(211, 99, 91);
            background-color: rgb(255, 128, 119);
            margin-top: 15px;

        /* Text Position*/
            text-align: center;
        
        /* Text Visuals*/
            font-size: medium;
    }

/*
    Navigation Tag
    - Centers Text
*/
    nav 
    {
        /* Text Position*/
            text-align: center;        
    }

/*
    Navigation with UL Tag:
    - Sets List To Use No Markers
    - Changes Font Size
    - Centers Text     
    - Shifts Text Left

*/
    nav ul 
    {
        /* Text Visuals*/
            list-style-type:none;           
            font-size: larger;  

        /* Text Position */
            text-align: center;        
            position: relative;
            right:15px;
    }

/* 
    Selector Tag:
    - Removes Default Text Decorations (In This Case, Underlines)
*/
    a 
    {
        /* Text Visuals*/
            text-decoration: none;
            color: white;;
    }

/* 
Selector Tag When Selector Has Already Been Used:
-  Changes Text Color
*/
    a:visited 
    {
        /* Text Visuals*/
            color: white;  
    }

/* 
Selector Tag When Mouse Hoveres Over:
- Underlines Text
*/
    a:hover 
    {
        /* Text Visuals*/
            text-decoration: underline;
        
    }

/*
    container Element
    - Changes Background Color
    - Adds Border
    - Sets Margins to Auto
    - Adds Padding
    - Shortens Width
*/
    .container 
    {
        background-color: rgb(255, 215, 183);
        border: 1px rgb(207, 172, 143) solid;
        margin: auto;
        padding: 30px;
        width: 60%;
    }

/*
    Label Element
    - Changes Display To Block
    - Adds Padding
    - Sets Positioning To Relative
*/
    label
    {
        display: block;
        padding-bottom: 5px;
        position: relative;
    }

/*
    Input Element
    - Changes Background Color
    - Adds Border
    - Changes Positioning To Absolute
*/
    input
    {
        background-color: rgb(255, 241, 229);
        border: 1px rgb(207, 172, 143) solid;
        position: absolute;
        left: 10%;
        width: 40%;
    }

/*
    Submit Class Element
    - Resets Width To Initial
    - Resets Position To Initial
*/
    .submit
    {
        width: initial;
        left: 47%;
        font-size: large;
        margin-top: 5px;
    }

/*
    FieldSet Element
    - Adds Border
*/
    fieldset
    {
        border: 2px rgb(207, 172, 143) solid;
    }

/*
    Article Element
    - Changes Background Color
    - Adds Border
    - Sets Margins to Auto
    - Adds Padding
    - Shortens Width
    - Changes Font Size
*/
    article
    {
        background-color: rgb(255, 215, 183);
        border: 1px rgb(207, 172, 143) solid;
        margin: auto;
        margin-bottom: 10px;
        padding: 30px;
        width: 60%;
        font-size: large;
        text-align: center;
    }

/*
    Select Element:
    - Changes Background color
    - Adds Border
*/
    select
    {
        background-color: rgb(255, 241, 229);
        border: 1px rgb(207, 172, 143) solid;
    }

/*
    Image Element:
    - Makes Image Float
    - Changes Width
    - Makes Margin Auto
    - Adds Padding
    - Adds Border
    - Changes Background Color
*/
    img
    {
        float: inline-end;
        width: 50%;
        margin: auto;
        padding: 15px;
        border: 1px rgb(207, 172, 143) solid;
        background-color: rgb(255, 185, 119);
    }